.contact {
  /* background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  margin: 0;
  padding-left: 10px; */
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.contactText {
  text-align: left;
  margin: 0;
  margin-left: 15px;
}

.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.text {
  margin: 0;
}

